// color variables

$color-primary:#c69963;
$color-primary-dark:#B28451;

$color-secondary:#101d2c;


$color-grey-light-1:#f9f7fe;
$color-grey-light-2: #aaa;

$color-grey-dark-1:#54483a;
$color-grey-dark-2:#6D5D4B;




// font variables

$font-primary:'Nunito','sans-serif';
$font-secondary:'Josefin Sans','sans-serif'